.popup__name {
  width: 100%;
  max-width: 358px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 3px;
}

@media (max-width: 599px) {
  .popup__name {
    max-width: 238px;
    padding-top: 70px;
  }
}
